/*-------- Font-Family -------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap");

/*-------- Font-Family -------*/
@import url("../icons/font-awesome/css/font-awesome.min.css");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
}

ol, ul {
	list-style: none;
}

/*-------- MAIN STYLE -------*/

body {
    width: 100%;
    max-width: 1920px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto!important;
    transition: 0.3s;
}

body.active {
    margin-left: 270px!important;
    transition: 0.3s;
    overflow: hidden;
}

.main-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}

.white {
    color: #fff;
}

.orange {
    color: #ff8819;
}

a {
    text-decoration: none;
    outline: none;
}

input, textarea {
    outline: none; 
}

.main-title {
    font-size: 28px;
    font-weight: 500;
    color: #3f3e50;
    margin-bottom: 20px;
    text-align: center;
}

.main-description {
    text-align: center;
    font-size: 16px;
    color: #3f3e50;
    line-height: 25px;
}

.space-section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.overlay {
    height: 100vh;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    position: fixed;
    width: 100%;
    display: none;
    z-index: 9999;
}

.overlay.active {
    display: block;
}

/* TOPBAR */

.top-bar {
    background: linear-gradient(87deg, #00148e, rgba(0, 20, 142, 0.46) 100%);
    padding: 12px 0px;
}

.social-top-bar {
    display: flex;
    position: relative;
}

.social-top-bar::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 22px;
    background: rgba(216, 215, 215, 0.2);
    right: 15px;
    z-index: 17;
    display: block;
    top: -2px;
}

.social-top-bar li {
    margin: 0px 30px 0px 0px;
}

.social-icon {
    font-size: 16px;
    cursor: pointer;
}

.social-icon:hover i {
    color: #ff8819;
    transition: 0.3s;
}

.reg-link {
    font-weight: 300;
    color: #fff;
    font-size: 13px;
    margin-left: 12px;
}

.reg-link span {
    padding-left: 3px;
}

.flex-top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER */

.header-block {
    color: #fff;
    padding: 7px 0px;
    background: #fff;
}

.header-page {
    color: #fff;
    padding: 12px 0px;
    background: #fff;
    border-top: 1px solid #e6e6eb;
    border-bottom: 1px solid #e6e6eb;
}

.fixed-header {
    position: fixed;
    top: 0!important;
    width: 100%; 
    z-index: 9999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    transition: 1s;
}

.bread-crumbs a{
    color: #605e7e;
    font-size: 15px;
}

.bread-crumbs a.active {
    color: #ff8819;
}

.flex-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.what-page {
    font-size: 18px;
    font-weight: 500;
    color: #3f3e50;
}

.logotype-block {
    display: block;
}

.header-menu-link {
    color: #3f3e50;
    font-weight: 400;
    padding: 12px 14px;
    margin: 0 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.add-listing {
    background: #ff8819;
    color: #fff;
    font-weight: 400;
    padding: 12px 14px;
    margin-left: 2px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.add-listing i {
    padding-right: 5px;
}

.header-menu-link i {
    font-size: 14px;
    padding-left: 5px;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    display: flex;
    align-items: center;
}

.header-menu-link.active {
    background: #ff8819;
    color: #fff;
}

.header-menu-link:hover {
    background: #ff8819;
    color: #fff;
    transition: 0.3s;
}

.scroll-block {
    display: none;
    height: 52px;
}

.left-top-bar {
    display: flex;
    align-items: center;
}

.dropdown-header-text {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}

.dropdown {
    margin-right: 30px;
}

.dropdown .sub-menu {
    top: 40px;
}

.burger-menu {
    display: none;
}

.header-menu {
    position: relative;
}

.header-menu-link {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
  
.sub-menu {
    display: none;
    position: absolute;
    background: #fff;
    width: 190px;
    top: 47px;
    z-index: 99;
    text-align: left;
    border: 1px solid #e6e6eb;
    border-radius: 2px;
    box-shadow: 0px 5px 25px rgb(39 55 76 / 20%);
}
  
.sub-menu li {
    color: #3f3e50;
    font-weight: 400;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.sub-menu li a {
    padding: 12px 14px;
    width: 100%;
}

.sub-menu li:hover {
    color: #fff;
    background: #ff8819;
    transition: 0.3s;
}

.sub-menu li:hover a {
    color: #fff;
    transition: 0.3s;
}
  
.sub-menu li a {
    display: block;
    color: #3f3e50;
}


.header-menu ul li.active {
    pointer-events: none;
}

/* SECTION-FIND */

.section-find {
    background: url(../img/bg-header.jpeg) center center no-repeat;
    background-size: cover;
    text-align: center;
}

.find-linear {
    background: linear-gradient(87deg, rgba(0, 20, 142, 0.86), rgba(0, 20, 142, 0.46) 100%);
    padding-top: 120px;
    padding-bottom: 110px;
}

.title-find {
    font-weight: 400;
    color: #fff;
    font-size: 40px;
}

.text-find {
    font-weight: 300;
    color: #fff;
    font-size: 18px;
    padding-top: 10px;
    line-height: 25px;
}

.search-block {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    padding: 13px;
    width: 63%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

}

.search-input {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    border: 1px solid #fff;
    color: #3f3e50;
    border-radius: 3px;
    width: 100%;
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box;
}

.keywords-input {
    width: 83%;
}

.search-button-block {
    width: 15%;
}

.search-button {
    background: #ff8819;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.03em;
    border-radius: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* CATEGORIES */

.flex-categories {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.categories-block {
    display: block;
    width: 20%;
    margin: 5px;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    height: 170px;
    border-radius: 3px;
}

.categories-block:hover img {
    transform: scale(1.1);
    transition: 0.3s;
}


.categories-image {
    height: 170px;
    width: 100%;
    border-radius: 3px;
}

.categories-name {
    position: absolute;
    box-sizing: border-box;
    background: linear-gradient(rgba(40, 35, 47, 0.4) 10%, rgba(40, 35, 47, 0.95));
    bottom: 0px;
    left: 0;
    border-radius: 0px 0px 3px 3px;
    width: 100%;
    padding: 15px;
    color: #fff;
}

.view-more-button {
    color: #fff;
    font-size: 14px;
    background: #00148e;
    display: inline-block;
    margin: 0 auto;
    margin-top: 35px;
    border-radius: 3px;
    padding: 13px 35px;
}

.view-button-block {
    text-align: center;
}

/* CATEGORIES */ 

.section-counter  {
    background: url(../img/bg-2.jpeg) center center no-repeat;
    background-size: cover;
    text-align: center;
}

.linear {
    background: linear-gradient(87deg, rgba(0, 20, 142, 0.86), rgba(0, 20, 142, 0.46) 100%);
}

.flex-counter {
    display: flex;
    justify-content: space-between;
}

.counter-status {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    width: 23%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.counter {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.counter-text {
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding-top: 15px;
}

.space-counter {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* SUBSCRIBE */ 

.section-subscribe {
    background: #f7f7fb;
}

.subscribe-input {
    font-size: 15px;
    font-weight: 300;
    background: #fff;
    border: 1px solid #e6e6eb;
    border-right: transparent;
    color: #3f3e50;
    border-radius: 3px 0px 0px 3px;
    width: 100%;
    height: 45px;
    padding: 10px 16px;
    box-sizing: border-box;
}

.subscribe-form {
    display: flex;
    width: 66%;
    margin: 0 auto;
    margin-top: 22px;
}

.subsribe-button {
    background: #ff8819;
    border: 1px solid #ff8819;
    color: #fff;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.03em;
    border-radius: 0px 3px 3px 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sub-input-block {
    width: 83%;
}

.sub-button-block {
    width: 17%;
}

/* CUSTOMERS */

.title-customers {
    color: #504e70;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

.testimonial-text, .customer-job {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #3f3e50;
    text-align: center;
}

.testimonial-text {
    padding-top: 35px;
    padding-bottom: 20px;
}

.testimonial-block {
    width: 66%;
    margin: 0 auto;
}

.customer-name {
    font-size: 24px;
    color: #3f3e50;
    text-align: center;
    padding-bottom: 15px;
}

.starts-customer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.starts-customer i {
    color: #f1c50e;
    margin: 1px;
}

.customer-face-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 4px solid #d9d6e0;
}

.customer-face-img.active {
    border: 4px solid #ec296b;
}

.customers-face {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.customer-face-block {
    margin: 5px;
}

/* FEATURED-LISTING */

.section-featured-listing {
    background: #f7f7fb;
}

.card-item {
    width: 100%;
    max-width: 275px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e6e6eb;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.related-post-block {
    width: 100%;
    max-width: 370px;

}

.card-image {
    width: 100%;
    height: 160px;
    border-radius: 6px 6px 0px 0px;
}

.card-image-block {
    position: relative;
    height: 160px;
    display: block;
    box-sizing: border-box;
}

.card-area {
    position: absolute;
    box-sizing: border-box;
    font-weight: 300;
    bottom: 12px;
    left: 12px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 2px 10px;
    color: #fff;
    font-size: 14px;
}

.open-table {
    background: #ffa22b;
    box-sizing: border-box;
    color: #fff;
    padding: 6px 8px;
    position: absolute;
    z-index: 2;
    font-size: 18px;
    top: 10px;
}

.open-table:before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    right: -15px;
    border-top: 15px solid transparent;
    border-left: 15px solid #ffa22b;
    border-bottom: 15px solid transparent;
    width: 0;
}

.card-title {
    font-weight: 500px;
    font-size: 18px;
    color: #3f3e50;
}

.card-title:hover {
    color: #ff8819;
    transition: 0.3s;
}

.card-body {
    padding: 25px;
}

.card-location {
    display: block;
    color: #3f3e50;
    text-decoration: none;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 13px;
}

.card-location i {
    padding-right: 5px;
    color: #d60f02;
}

.card-description {
    display: block;
    color: #3f3e50;
    font-size: 14px;
    line-height: 20px;
}

.card-underline {
    border-top: 1px solid #e6e6eb;
}

.card-face {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.card-flex-face {
    display: flex;
    align-items: center;
}

.card-name-face {
    color: #797896;
    font-size: 15px;
    font-weight: 500px;
    padding-left: 10px;
}

.card-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-heart {
    color: #797896;
}

.card-review-score {
    color: #fff;
    background: #ff8819;
    font-weight: 400;
    font-size: 12px;
    border-radius: 3px;
    padding: 0.3em 0.4em;
}

.card-flex-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

.number-review {
    color: #3f3e50;
    font-size: 14px;
}

.card-footer {
    padding: 15px 25px;
}

.flex-card-item {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 35px;
    min-width: 0;
}

.card-opacity {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-item:hover .card-opacity  {
    opacity: 1;
    transition: 0.3s;
}

.flex-review-starts {
    display: flex;
    align-items: center;
}

.flex-review-starts .starts-customer{
    margin-top: 0px;
    margin-right: 4px;
    font-size: 14px;
}

/* FOOTER */ 

.footer-section {
    background: #160346;
}

.btn-foot-nav {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.btn-foot-nav:hover {
    text-decoration: none;
    color: #ff8819;
    transition: 0.3s;
}

.top-bar-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    position: relative;
}

.footer-underline {
    border-bottom: 1px solid rgba(167, 180, 201, 0.1);
}

.footer-info {
    padding: 31px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-info > div {
    width: 24%;
}

.bizdire-footer {
    font-weight: 500;
    font-size: 28px;
    color: #fff;
    padding-bottom: 15px;
}

.text-footer {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    padding-top: 7px;
    display: block;
}

.title-footer {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    padding-bottom: 15px;
}

.footer-social-icons {
    display: flex;
}

.footer-social-icon {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    width: 35px;
    height: 35px;
    margin: 1px;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 35px;
    margin: 1px auto;
    text-align: center;
    margin-right: 5px;
}

.footer-social-icon:hover {
    color: #fff;
    border: 1px solid #ff8819;
    background: #ff8819;
    transition: 0.3s;
}

.space-text {
    padding-bottom: 20px;
}

.text-footer i {
    padding-right: 10px;
    color: #ff8819;
}

.popular-list li a:hover  {
    color: #ff8819;
    transition: 0.3s;
}

.footer-input {
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    border: 1px solid #fff;
    color: #3f3e50;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    padding: 7px 13px;
    box-sizing: border-box;
}

.footer-subscribe-button {
    background: #ff8819;
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.03em;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-input-block {
    margin-bottom: 7px;
}

.copyright {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.top-bar-footer a::before {
    content: " ";
    position: absolute;
    width: 1px;
    height: 15px;
    background: rgba(255, 255, 255, 0.15);
    left: 0px;
    z-index: 17;
    display: block;
    top: 0px;
}

.top-bar-footer a:first-child::before {
    background: transparent;
}

/* SLICK SLIDER */

.slick-list {
    overflow: hidden;
}

.slick-track{
    display: flex;
}

.slider-listing {
    position: relative;
}

.slider-listing .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 10;
    font-size: 0;
    width: 43px;
    height: 43px;
    border: 1px solid #e6e6eb !important;
    box-shadow: 0 4px 15px rgb(67 67 67 / 15%);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.slider-listing .slick-arrow.slick-prev{
    left: -10px;
}
.slider-listing .slick-arrow.slick-prev::before {
    position: absolute;
    content: '';
    border-top: 2px solid #00148e;
    border-right: 2px solid #00148e;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-135deg);
}
.slider-listing .slick-arrow.slick-next{
    right: -10px;
}

.slider-listing .slick-arrow.slick-next::before {
    position: absolute;
    content: '';
    border-top: 2px solid #00148e;
    border-right: 2px solid #00148e;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.slider-testimonial {
    position: relative;
}


.slider-testimonial .slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 10;
    font-size: 0;
    width: 43px;
    height: 43px;
    border: 1px solid #e6e6eb !important;
    box-shadow: 0 4px 15px rgb(67 67 67 / 15%);
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}
.slider-testimonial .slick-arrow.slick-prev{
    left: -10px;
}
.slider-testimonial .slick-arrow.slick-prev::before {
    position: absolute;
    content: '';
    border-top: 2px solid #00148e;
    border-right: 2px solid #00148e;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-135deg);
}
.slider-testimonial .slick-arrow.slick-next{
    right: -10px;
}

.slider-testimonial .slick-arrow.slick-next::before {
    position: absolute;
    content: '';
    border-top: 2px solid #00148e;
    border-right: 2px solid #00148e;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.select2-container {
    width: 150px;
}

.img-flag {
    width: 25px;
    height: 12px;
}




.small-slider-product {
    position: relative;
}
.small-slider-product .slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 10;
    font-size: 0;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;

    font-size: 5px !important;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.8);
}
.small-slider-product .slick-arrow.slick-prev::before {
    position: absolute;
    content: '';
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%) rotate(-135deg);
}

.small-slider-product .slick-arrow.slick-next {
    right: 0px;
}

.small-slider-product .slick-arrow.slick-next::before {
    position: absolute;
    content: '';
    border-top: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    width: 5px;
    height: 5px;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%) rotate(45deg);
}






/*----- PRODUCT PAGE -----*/

.flex-product-sections {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-product-content {
    background: #f7f7fb;
    padding-top: 50px;
    padding-bottom: 50px;
}

.product-left-sections {
    width: 66%;
}

.product-box {
    background-color: #fff;
    background-size: border-box;
    border: 1px solid #e6e6eb;
    border-radius: 7px;
    box-shadow: 0 0 40px 0 rgb(234 238 249 / 50%);
    margin-bottom: 25px;
    position: relative;
    overflow: hidden;
}

.product-box-post {
    margin-bottom: 25px;
}

.product-container-box {
    padding: 25px;
}

.product-title-container {
    padding: 17px 25px;
    border-bottom: 1px solid #e6e6eb;
}

.business-id-container {
    padding: 17px 25px;
    border-bottom: 1px solid #e6e6eb;
    border-top: 1px solid #e6e6eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.overview-button-container {
    padding: 17px 25px;
    display: flex;
}

.product-title-box {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 500;
    color: #3f3e50;
}

.product-title-big {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #3f3e50;
    margin-bottom: 12px;
}

.flex-contact-info {
    display: flex;
}

.product-text {
    line-height: 20px;
    font-size: 14px;
    color: #3f3e50;
    font-weight: 400;
}

.p-15 {
    padding-bottom: 15px;
}

.contact-info-link {
    display: flex;
    align-items: center;
}

.contact-info-block {
    width: 49%;
}

.contact-info-link span {
    background: #f7f7fb;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.p-title-box {
    padding-top: 10px;
    padding-bottom: 15px;
}

.bold {
    font-weight: 500;
}

.table-busines-info {
    width: 100%;
}

.table-busines-info tr td {
    padding-top: 12px;
    padding-bottom: 12px;
}

.td-small {
    width: 30%;
}

.td-big {
    width: 70%;
}

.icons-button {
    font-weight: 400;
    letter-spacing: 0.03em;
    color: #fff;
    font-size: 13px;
    border: 1px solid transparent;
    padding: 10px 12px;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-right: 3px;
    display: inline-block;
}

.share-icon {
    background: #0ab2e6;
    border-color: #0ab2e6;
}

.share-icon i {
    padding-right: 3px;
}

.like-icon {
    background: #e91e63;
    border-color: #e91e63;
}

.print-icon {
    background: #00148e;
    border-color: #00148e;
}

.report-icon {
    background: #d60f02;
    border-color: #d60f02;
}

.product-rigth-sections {
    width: 32%;
}

.cm-user-block {
    text-align: center;
}

.cm-user-name {
    font-weight: 500;
    line-height: 1.1;
    color: #3f3e50;
    font-size: 18px;
    padding-bottom: 5px;
}

.cm-user-since, .cm-user-id {
    color: #797896;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 7px;
}

.cm-user-id {
    font-size: 13px;
    padding-bottom: 0px;
}

.underline-product {
    border-bottom: 1px solid #e6e6eb;
}

.cm-user-button {
    border-radius: 3px;
    background: #fff;
    font-weight: 400;
    border: 1px solid #e6e6eb;
    color: #605e7e;
    padding: 10px;
    display: block;
    width: 40%;
    text-align: center;
}

.cm-user-button.active {
    color: #ff8819;
    border: 1px solid #ff8819;
}

.cm-user-button-block {
    display: flex;
    width: 90%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.right-contact-info .flex-contact-info {
    flex-direction: column;
}

.right-contact-info .contact-info-block {
    width: 100%;
}

.chat-button {
    background-color: #0ab2e6;
    border-color: #0ab2e6;
}

.contact-button {
    background-color: #ff8819;
    border-color: #ff8819;
}

.listing-button {
    color: #3d4e67;
    background-color: #f7f7fb;
    border-color: #e6e6eb;
}

.direction-button {
    background-color: #ff8819;
    border-color: #ff8819;
}

.keywords-button {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 7px 12px;
    border-radius: 2px;
    color: #3f3e50;
    font-size: 12px;
    border: 1px solid #e6e6eb;
    display: inline-block;
}

.keywords-button:hover {
    background-color: #ff8819;
    border-color: #ff8819;
    color: #fff;
    transition: 0.3s;
}

.keywords-block {
    display: flex;
    flex-wrap: wrap;
}

.owner-flex-button {
    display: flex;
    justify-content: center;
}

.owner-social-block {
    display: flex;
    justify-content: center;
}

.owner-img {
    border: 1px solid #e6e6eb;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.owner-block {
    text-align: center;
}

.owner-social-block {
    display: flex;
    padding-top: 10px;
}

.owner-social {
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #f7f7fb;
    color: #3f3e50;
    margin: 4px
}

.owner-flex-button .icons-button {
    margin-right: 6px;
    margin-left: 6px;
}

.flex-social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.detail-social {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-left: 2px;
    margin-right: 2px;
}

.bg-facebook {
    background: #3b5998;
}

.bg-twitter {
    background: #0c85d0;
}

.bg-google {
    background: #c63224;
}

.bg-dribble {
    background: #e62a72;
}

.bg-pinterest {
    background: #8c0615;
}

.progress-stars {
    background: #e0e4ec;
    color: #3d4e67;
    font-weight: 400;
    display: inline-block;
    padding: 4px 7px;
    border-radius: 3px;
    font-size: 12px;
    margin-bottom: 10px;
}

.progress-bar {
    width: 100%;
    display: flex;
    background: #f7f7fb;
    border-radius: 3px;
    margin-bottom: 20px;
}

.number-progress-bar {
    color: #fff;
    text-align: center;
}

.progress-bar-success {
    padding: 3px;
    text-align: center;
    border-radius: 3px;
}

.number-progress-bar {
    font-weight: 700;
    font-size: 11px;
    color: #fff;
    text-align: center;
}

.w-100 {
    width: 100%;
    background: #10d403;
}

.w-80 {
    width: 80%;
    background: #0ab2e6;
    border-radius: 3px 0px 0px 3px;
}

.w-60 {
    width: 60%;
    background: #ff8819;
    border-radius: 3px 0px 0px 3px;
}

.w-40 {
    width: 40%;
    background: #00148e;
    border-radius: 3px 0px 0px 3px;
}

.w-25 {
    width: 25%;
    background: #e67605;
    border-radius: 3px 0px 0px 3px;
}

.review-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-container {
    border: 1px solid #e6e6eb;
    border-radius: 3px;
}

.flex-review {
    display: flex;
    align-items: flex-start;
}

.product-subscribe {
    background: #fff;
    border-top: 1px solid #e6e6eb;
}

.author-review-block {
    display: flex;
    align-items: center;
}

.author-review {
    font-weight: 500;
    font-size: 16px;
    color: #3f3e50;
}

.verify {
    color: #10d403;
    font-size: 14px;
    padding-left: 5px;
}

.flex-author {
    display: flex;
    align-items: center;
}

.author-stars {
    font-weight: 400;
    color: #3f3e50;
    font-size: 14px;
    padding-left: 10px; 
}

.author-stars i {
    color: #ffa22b;
}

.info-review {
    color: #797896;
    font-weight: 400;
    font-size: 12px;
    padding-right: 13px;
    padding-top: 10px;
}

.right-review {
    margin-left: 12px;
}

.review {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    color: #3f3e50;
    line-height: 1.5;
}

.badge-button {
    display: inline-block;
    padding: 0.3em 0.4em;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    border-radius: 3px;
    font-size: 12px;
    color: #3d4e67;
    background-color: #f7f7fb;
    margin-right: 7px;
}

.badge-button.active {
    background: #ff8819;
    color: #fff;
}

.button-rating {
    line-height: 1.33333333;
    border-radius: 3px;
    color: #3d4e67;
    background-color: #f7f7fb;
    border: 1px solid #e6e6eb;
    font-size: 12px;
    padding: 4px 8px;
}

.flex-rating {
    display: flex;
    align-items: center;
}

.flex-rating button:nth-child(1) {
    border-radius: 3px 0px 0px 3px;
}

.flex-rating button:nth-child(2) {
    border-radius: 0px 3px 3px 0px;
    margin-left: -1px;
}

.review-buttons-block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.review-block {
    margin-top: 15px;
}

.comment-review {
    border-top: 1px solid #e6e6eb;
    background: #f7f7fb;
}

.comment-review .badge-button {
    background: #e0e4ec;
}

.text-add {
    font-size: 14px;

    font-weight: 400;
    color: #3f3e50;
    line-height: 1.5;
}

.stars-review {
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 15px;
}

.review-form {
    width: 100%;
}

.review-input, .listing-input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.6;
    color: #3f3e50;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e6e6eb;
    border-radius: 3px;
    margin-top: 15px;
}

.listing-input {
    margin-top: 0px;
}

.f-20 {
    font-size: 24px;
}

.review-submit, .listing-submit {
    background: #ff8819;
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    padding: 12px 14px;
    margin-top: 15px;
    border: transparent;
    letter-spacing: 0.03em;
}

.listing-submit {
    width: 100%;
    text-align: center;
}

.post-block {
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #e6e6eb;
    border-radius: 7px;
}

.post-img {
    max-width: 100%;
    border-radius: 6px 6px 0px 0px;
}

.post-img-block {
    position: relative;
}

.post-area {
    position: absolute;
    bottom: 12px;
    left: 12px;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 5px;
    padding: 2px 10px;
    line-height: 1.2;
    color: #fff;
}

.post-button {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    margin-left: 5px;
    border: transparent;
    font-size: 14px;
    cursor: pointer;
}

.post-buttons-block {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 98;
    display: flex;
    align-items: center;
}

.post-button:hover {
    background: #ff8819;
    color: #fff;
    transition: 0.3s;
}

.ribbon {
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    top: 0;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
    color: #fff;
    text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    right: -8px;
    top: 30px;
    transform: rotate(-45deg);
    background: #d60f02;
}

.ribbon-right {
    top: -10px;
    right: -10px;
}

.ribbon-right span {
    left: -8px;
    top: 30px;
    transform: rotate(45deg);
}

.post-info {
    font-size: 13px;
    color: #3f3e50;
    font-weight: 300;
    margin-bottom: 10px;
}

.flex-post-info {
    display: flex;
    min-width: 0;
}

.post-info i {
    margin-right: 7px;
}

.post-info-block {
    width: 49%;
}

.stars-post {
    justify-content: flex-start;
    margin-top: 0px;
}

.post-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.1;
    color: #3f3e50;
    padding-top: 7px;
    padding-bottom: 20px;
}

.related-post-block {
    margin-left: 10px;
    margin-right: 10px;
}

.flex-post {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
}

.text-info-product {
    font-size: 14px;
    color: #3f3e50;
    font-weight: 300;
    display: flex;
    margin-right: 20px;
}

.text-info-product span {
    padding-left: 4px;
}

.text-danger {
    color: #d60f02;
}

.info-about-product {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.product-img {
    max-width: 100%;
    border-radius: 6px;
    margin-top: 25px;
}

.small-product-img {
    max-width: 90%;
    border-radius: 6px;
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.small-slider-product {
    display: flex;
    min-width: 0;
    width: 100%!important;
    text-align: center;
}




@media screen and (max-width: 1180px) {
    body {
        margin-left: 0px!important;
    }

    .main-container {
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }

    .categories-block {
        width: 23%;
    }

    .footer-info {
        flex-wrap: wrap;
        padding: 0;
    }

    .footer-info > div {
        width: 49%;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .slick-track {
        justify-content: space-around;
    }
}

@media screen and (max-width: 992px) {
    .search-block, .subscribe-form {
        box-sizing: border-box;
        width: 100%;
    }

    .text-find {
        padding-top: 20px;
    }

    .keywords-input, .sub-input-block {
        width: 75%;
    }

    .search-button-block, .sub-button-block {
        width: 24%;
    }

    .categories-block {
        width: 17%;
        height: auto;
        margin: 10px;
    }

    .categories-image {
        height: auto;
    }

    .flex-counter {
        flex-wrap: wrap;
    }
    
    .counter-status {
        width: 49%;
        margin-top: 20px;
    }

    .space-counter {
        padding-top: 40px;
    }

    .mobile-none {
        display: none;
    }

    .header-navigation-block {
        order: 1;
        position: fixed;
        left: -270px;
        transform: translateX(0px);
        top: 0;
        width: 270px;
        min-height: 100vh;
        background: #fff;
        z-index: 999;
        transition: 0.3s;
    }
    
    .header-navigation-block.active {
        left: 0;
        transition: 0.3s;
    }

    .header-logo-block {
        order: 2;
    }

    .header-menu {
        flex-direction: column;
    }

    .header-menu li {
        width: 100%;
        box-sizing: border-box;
    }

    .header-menu-link {
        width: 100%;
        box-sizing: border-box;
        margin: 0px;
        border-radius: 0px;
        padding: 12px 32px 12px 17px;
        font-size: 14px;
        text-align: left;
        border-right: solid 0px;
        color: #6c6a8d;
        line-height: 25px;
        border-bottom: 1px solid;
        border-bottom-color: rgba(0, 0, 0, 0.13);
    }

    .add-listing {
        border-radius: 0px;
        margin: 0px;
        text-align: center;
        justify-content: center;
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .sub-menu {
        position: static;
        width: 100%;
        box-sizing: border-box;
        box-shadow: none;
    }

    .burger-menu {
        display: block;
    }

    .bar-1 {
        width:5em;
        display: block;
        width: 30px;
        border-top: 3px solid #797896;
        padding-top:6px;
        cursor:pointer;
        transition:0.4s;
    }
            
    .bar-2 {     
        width:5em;
        display: block;
        width: 20px;
        border-top: 3px solid #797896;
        padding-top:5px;  
        display:fixed;
        transition:0.4s;
    }
      
    .bar-3 {  
        width:5em;
        display: block;
        width: 30px;
        border-top: 3px solid #797896;
        padding-top:5px;
        transition:0.4s;
    }
      
      
    .change .bar-1 {
        -webkit-transform: rotate(-45deg) translate(-5px, 5px);
        transform: rotate(-45deg) translate(-5px, 8px);
    }
      
    .change .bar-2 {opacity:0; width: 30px;}
      
    .change .bar-3 {
        -webkit-transform: rotate(45deg) translate(-10px, 5px);
        transform: rotate(45deg) translate(-6px, -5px);
        width: 30px;
    }

    .header-logo-block {
        margin: 0 auto;
    }

    .logotype-block {
        margin-left: -30px;
    }   

    .flex-product-sections {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .product-left-sections, .product-rigth-sections {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {
    .search-block, .subscribe-form {
        flex-wrap: wrap;
    }

    .keywords-input, .sub-input-block {
        width: 100%;
    }

    .search-button-block, .sub-button-block {
        width: 100%;
        height: 45px;
        margin-top: 15px;
    } 

    .find-linear {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .categories-block {
        width: 23%;
        margin: 15px 0px 0px 0px;
    }

    .flex-categories {
        justify-content: space-between;
    }

    .counter-status {
        width: 100%;
    }

    .footer-info > div {
        width: 100%;
    }

    .top-bar-footer {
        flex-wrap: wrap;
    }
    
    .top-bar-footer a::before {
        top: 8px;
    }

    .btn-foot-nav {
        padding: 8px;
    }

    .main-title {
        margin-bottom: 15px;
    }

    .title-customers {
        line-height: 45px;
    }

    .dropdown {
        display: none;
    }

    .social-top-bar::before {
        display: none;
    }

    .info-about-product {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-info-product {
        margin-right: 0px;
        margin-bottom: 7px;
    }

    .product-left-sections, .product-rigth-sections, .contact-info-block {
        width: 100%;
    }

    .flex-contact-info {
        flex-direction: column;
    }
    
    .overview-button-container, .owner-flex-button {
        flex-wrap: wrap;
    }

    .icons-button {
        margin: 3px;
    }

    .flex-review {
        flex-direction: column;
    }

    .right-review {
        margin-left: 0px;
        margin-top: 10px;
    }

    .review-buttons-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .flex-rating {
        margin-top: 10px;
    }

    .cm-user-button-block {
        width: 100%;
    }

    .cm-user-button {
        width: 45%;
    }

}

@media screen and (max-width: 500px) {
    .title-find, .counter {
        font-size: 35px;
    }
    .categories-block {
        width: 48%;
    }
    .reg-link span {
        display: none;
    }
    .reg-link {
        font-size: 16px;
    }
    .social-top-bar li {
        margin-right: 15px;
    }
    .header-navigation-block {
        left: -210px;
        width: 210px;
    }
    body.active {
        margin-left: 210px!important;
    }

    .flex-page {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .bread-crumbs {
        padding-top: 7px;
    }

    .product-container-box, .product-title-container, .business-id-container, .overview-button-container {
        padding: 17px;
    }
    .td-big {
        padding-left: 10px;
    }

    .table-busines-info tr {
        vertical-align: top;
    }

    .cm-user-button {
        width: 40%;
    }

    .ribbon span {
        top: 16px;
    }

    .ribbon {
        width: 140px;
        height: 140px;
    }

    .ribbon-right {
        top: 0;
        right: 0;
    }
}